<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KOUP-DEV.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>20211111</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
				<key>dateExpires</key>
				<string>2024/09/29</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20200225.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.28.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30905.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9841E4E8AEED01166D1DAA7C87C959C1A16FCA03</string>
						<key>dateExpires</key>
						<string>2024/09/29</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U9WU49FU2P</string>
						<key>name</key>
						<string>KCC Engineering &amp; Construction Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.7</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U9WU49FU2P.net.kccworld.koup-dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U9WU49FU2P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KOUP-DEV.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>460a0e6e-789a-4276-bef0-8db583dcdfa9</string>
				<key>dateExpires</key>
				<string>2022/11/11</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: net.kccworld.koup-dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U9WU49FU2P</string>
				<key>name</key>
				<string>KCC Engineering &amp; Construction Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.2.3</string>
		</dict>
	</array>
</dict>
</plist>
